<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Eventos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button style="top: -38px;">
            <ion-icon name="funnel"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-grid>
        <ion-row>
            <ion-col size="4"
                     size-xs="12"
                     size-sm="12"
                     size-md="6"
                     size-lg="4"
                     size-xl="4">
                <ion-card>
                    <img class="event-image"
                         src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F56846865%2F224417816684%2F1%2Foriginal.20190214-225017?w=512&auto=compress&rect=0%2C0%2C2160%2C1080&s=3d60aed454750f285aa1f51d2ddfa1ee">

                    <ion-card-header>
                        <ion-card-subtitle>Event title</ion-card-subtitle>
                        <ion-card-title>Event subtitle</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <p>Description</p>
                    </ion-card-content>

                    <ion-item>
                        <ion-fab-button class="like-btn" slot="end" size="small" color="light">
                            <ion-icon name="heart"></ion-icon>
                        </ion-fab-button>

                        <ion-fab-button class="like-btn" slot="end" size="small" color="light">
                            <ion-icon name="share-alt"></ion-icon>
                        </ion-fab-button>
                    </ion-item>
                </ion-card>
            </ion-col>

            <ion-col size="4"
                     size-xs="12"
                     size-sm="12"
                     size-md="6"
                     size-lg="4"
                     size-xl="4">
                <ion-card>
                    <img class="event-image"
                         src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F72254057%2F177963135371%2F1%2Foriginal.20190910-141856?w=512&auto=compress&rect=0%2C0%2C1920%2C960&s=7fca57f64d988aa0c5bbb6c5de3995e0">

                    <ion-card-header>
                        <ion-card-subtitle>Event title</ion-card-subtitle>
                        <ion-card-title>Event subtitle</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <p>Description</p>
                    </ion-card-content>

                    <ion-item>
                        <ion-fab-button class="like-btn" slot="end" size="small" color="light">
                            <ion-icon name="heart"></ion-icon>
                        </ion-fab-button>

                        <ion-fab-button class="like-btn" slot="end" size="small" color="light">
                            <ion-icon name="share-alt"></ion-icon>
                        </ion-fab-button>
                    </ion-item>
                </ion-card>
            </ion-col>

            <ion-col size="4"
                     size-xs="12"
                     size-sm="12"
                     size-md="6"
                     size-lg="4"
                     size-xl="4">
                <ion-card>
                    <img class="event-image"
                         src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F66748177%2F313976638560%2F1%2Foriginal.20190728-042604?w=512&auto=compress&rect=0%2C0%2C2160%2C1080&s=46076c071890a1cd2af2d373c6209eff">

                    <ion-card-header>
                        <ion-card-subtitle>Event title</ion-card-subtitle>
                        <ion-card-title>Event subtitle</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <p>Description</p>
                    </ion-card-content>

                    <ion-item>
                        <ion-fab-button class="like-btn" slot="end" size="small" color="light">
                            <ion-icon name="heart"></ion-icon>
                        </ion-fab-button>

                        <ion-fab-button class="like-btn" slot="end" size="small" color="light">
                            <ion-icon name="share-alt"></ion-icon>
                        </ion-fab-button>
                    </ion-item>
                </ion-card>
            </ion-col>

            <ion-col size="4"
                     size-xs="12"
                     size-sm="12"
                     size-md="6"
                     size-lg="4"
                     size-xl="4">
                <ion-card>
                    <img class="event-image"
                         src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F48180679%2F164728825173%2F1%2Foriginal.jpg?w=512&auto=compress&rect=100%2C0%2C718%2C359&s=e24b7f413f505268d4f3021d156d1804s">

                    <ion-card-header>
                        <ion-card-subtitle>Event title</ion-card-subtitle>
                        <ion-card-title>Event subtitle</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <p>Description</p>
                    </ion-card-content>

                    <ion-item>
                        <ion-fab-button class="like-btn" slot="end" size="small" color="light">
                            <ion-icon name="heart"></ion-icon>
                        </ion-fab-button>

                        <ion-fab-button class="like-btn" slot="end" size="small" color="light">
                            <ion-icon name="share-alt"></ion-icon>
                        </ion-fab-button>
                    </ion-item>
                </ion-card>
            </ion-col>

            <ion-col size="4"
                     size-xs="12"
                     size-sm="12"
                     size-md="6"
                     size-lg="4"
                     size-xl="4">
                <ion-card>
                    <img class="event-image"
                         src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F56846865%2F224417816684%2F1%2Foriginal.20190214-225017?w=512&auto=compress&rect=0%2C0%2C2160%2C1080&s=3d60aed454750f285aa1f51d2ddfa1ee">

                    <ion-card-header>
                        <ion-card-subtitle>Event title</ion-card-subtitle>
                        <ion-card-title>Event subtitle</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <p>Description</p>
                    </ion-card-content>

                    <ion-item>
                        <ion-fab-button class="like-btn" slot="end" size="small" color="light">
                            <ion-icon name="heart"></ion-icon>
                        </ion-fab-button>

                        <ion-fab-button class="like-btn" slot="end" size="small" color="light">
                            <ion-icon name="share-alt"></ion-icon>
                        </ion-fab-button>
                    </ion-item>
                </ion-card>
            </ion-col>

            <ion-col size="4"
                     size-xs="12"
                     size-sm="12"
                     size-md="6"
                     size-lg="4"
                     size-xl="4">
                <ion-card>
                    <img class="event-image"
                         src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F72254057%2F177963135371%2F1%2Foriginal.20190910-141856?w=512&auto=compress&rect=0%2C0%2C1920%2C960&s=7fca57f64d988aa0c5bbb6c5de3995e0">

                    <ion-card-header>
                        <ion-card-subtitle>Event title</ion-card-subtitle>
                        <ion-card-title>Event subtitle</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <p>Description</p>
                    </ion-card-content>

                    <ion-item>
                        <ion-fab-button class="like-btn" slot="end" size="small" color="light">
                            <ion-icon name="heart"></ion-icon>
                        </ion-fab-button>

                        <ion-fab-button class="like-btn" slot="end" size="small" color="light">
                            <ion-icon name="share-alt"></ion-icon>
                        </ion-fab-button>
                    </ion-item>
                </ion-card>
            </ion-col>

            <ion-col size="4"
                     size-xs="12"
                     size-sm="12"
                     size-md="6"
                     size-lg="4"
                     size-xl="4">
                <ion-card>
                    <img class="event-image"
                         src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F66748177%2F313976638560%2F1%2Foriginal.20190728-042604?w=512&auto=compress&rect=0%2C0%2C2160%2C1080&s=46076c071890a1cd2af2d373c6209eff">

                    <ion-card-header>
                        <ion-card-subtitle>Event title</ion-card-subtitle>
                        <ion-card-title>Event subtitle</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <p>Description</p>
                    </ion-card-content>

                    <ion-item>
                        <ion-fab-button class="like-btn" slot="end" size="small" color="light">
                            <ion-icon name="heart"></ion-icon>
                        </ion-fab-button>

                        <ion-fab-button class="like-btn" slot="end" size="small" color="light">
                            <ion-icon name="share-alt"></ion-icon>
                        </ion-fab-button>
                    </ion-item>
                </ion-card>
            </ion-col>

            <ion-col size="4"
                     size-xs="12"
                     size-sm="12"
                     size-md="6"
                     size-lg="4"
                     size-xl="4">
                <ion-card>
                    <img class="event-image"
                         src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F48180679%2F164728825173%2F1%2Foriginal.jpg?w=512&auto=compress&rect=100%2C0%2C718%2C359&s=e24b7f413f505268d4f3021d156d1804s">

                    <ion-card-header>
                        <ion-card-subtitle>Event title</ion-card-subtitle>
                        <ion-card-title>Event subtitle</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        <p>Description</p>
                    </ion-card-content>

                    <ion-item>
                        <ion-fab-button class="like-btn" slot="end" size="small" color="light">
                            <ion-icon name="heart"></ion-icon>
                        </ion-fab-button>

                        <ion-fab-button class="like-btn" slot="end" size="small" color="light">
                            <ion-icon name="share-alt"></ion-icon>
                        </ion-fab-button>
                    </ion-item>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
