<ion-header>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <ion-buttons slot="start">
                <ion-menu-button></ion-menu-button>
            </ion-buttons>

            <span>Amigos</span>
        </mat-toolbar-row>
    </mat-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
    <mat-list>
        <h3 mat-subheader>Meus amigos</h3>

        <mat-list-item style="margin-top: 20px; margin-bottom: 20px;">
            <mat-form-field style="width: 100%">
                <input matInput placeholder="Procure amigos">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </mat-list-item>
    </mat-list>

    <mat-nav-list role="list">
        <mat-list-item>
            <img matListAvatar src="https://raw.githubusercontent.com/ionic-team/ionic-docs/master/src/demos/api/list/avatar-ben.png">
            <h2 matLine>Ben</h2>
            <mat-icon>chat</mat-icon>
        </mat-list-item>

        <mat-list-item>
            <img matListAvatar src="https://raw.githubusercontent.com/ionic-team/ionic-docs/master/src/demos/api/list/avatar-finn.png">
            <h2 matLine>Finn</h2>
            <mat-icon>chat</mat-icon>
        </mat-list-item>

        <mat-list-item>
            <img matListAvatar src="https://raw.githubusercontent.com/ionic-team/ionic-docs/master/src/demos/api/list/avatar-han.png">
            <h2 matLine>Han</h2>
            <mat-icon>chat</mat-icon>
        </mat-list-item>

        <mat-list-item>
            <img matListAvatar src="https://raw.githubusercontent.com/ionic-team/ionic-docs/master/src/demos/api/list/avatar-leia.png">
            <h2 matLine>Leia</h2>
            <mat-icon>chat</mat-icon>
        </mat-list-item>
    </mat-nav-list>
</ion-content>
