<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Amigos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
    <ion-list>
        <ion-list-header>
            Meus amigos
        </ion-list-header>

        <ion-item style="margin-bottom: 20px">
            <ion-input placeholder="Procure amigos"></ion-input>
            <ion-icon slot="end" name="search"></ion-icon>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/master/src/demos/api/list/avatar-ben.png">
            </ion-avatar>
            <ion-label>
                <h2>Finn</h2>
            </ion-label>

            <ion-icon slot="end" name="chatboxes"></ion-icon>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/master/src/demos/api/list/avatar-finn.png">
            </ion-avatar>
            <ion-label>
                <h2>Han</h2>
            </ion-label>

            <ion-icon slot="end" name="chatboxes"></ion-icon>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/master/src/demos/api/list/avatar-han.png">
            </ion-avatar>
            <ion-label>
                <h2>Rey</h2>
            </ion-label>

            <ion-icon slot="end" name="chatboxes"></ion-icon>
        </ion-item>

        <ion-item>
            <ion-avatar slot="start">
                <img src="https://raw.githubusercontent.com/ionic-team/ionic-docs/master/src/demos/api/list/avatar-leia.png">
            </ion-avatar>
            <ion-label>
                <h2>Luke</h2>
            </ion-label>

            <ion-icon slot="end" name="chatboxes"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>
