<ion-tabs>
    <mat-tab-group headerPosition="below" mat-align-tabs="center">
        <mat-tab>
            <ng-template mat-tab-label>
                <ion-tab-button class="disable-ripple" tab="events">
                    <ion-icon name="calendar"></ion-icon>
                    <ion-label>Eventos</ion-label>
                </ion-tab-button>
            </ng-template>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <ion-tab-button class="disable-ripple" tab="friends">
                    <ion-icon name="people"></ion-icon>
                    <ion-label>Amigos</ion-label>
                </ion-tab-button>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</ion-tabs>


