/*Scroll*/
/* width */

.scroll-content {
    ::-webkit-scrollbar {
        right: 0;
        top: 4px;
        bottom: 4px;
        height: auto;
        width: 4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        width: 4px;
        right: 4px;
        left: auto;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        width: 4px;
        background-color: rgba(255, 255, 255, .5);
        border-radius: 100px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

